---

---

<header class="bg-gray-900 text-white fixed top-0 left-0">
  <nav class=" w-screen flex flex-wrap items-center justify-between px-6 py-4">
    <a href="/" class="text-2xl font-bold">Ejercicios de lógica programacion</a>
    <ul class="flex items-center gap-x-4">
      <li>
        <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Inicio</a>
      </li>
      <li>
        <a href="/about" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Acerca de</a>
      </li>
      <li>
        <a href={`/level/${1}`} class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Nivel 1</a>
      </li>
      <li>
        <a href={`/level/${2}`} class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Nivel 2</a>
      </li>
      <li>
        <a href={`/level/${3}`} class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Nivel 3</a>
      </li>
    </ul>
  </nav>  
</header>